

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.logoImage {
  position: absolute;
  left: 20px;
  top: 20px;

  width: 80px;
  height: 80px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px; /* creates 10px space between each child */
}

.loginForm input {
  width: 100%; /* optional, full width inputs/buttons */
}

.loginStyledInput {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  color: black;
  background-color: transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.loginStyledInput::placeholder {
  color: grey;
}

/* When input has content, remove underline */
.loginStyledInput:not(:placeholder-shown) {
  border-bottom-color: transparent;
}

.loginButton {
  background-color: #084656;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 70%;
  align-self: center; /* center the button in the form */
  transition: background-color 0.2s ease-in-out;
}

.loginButton:hover {
  background-color: #14677b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.LogInPageWrapper {
  flex: 1; /* take up remaining height after Navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #EEECEC;

}

.splash-container {
  position: relative;
  min-height: 100vh;
  background-color: #EEECEC;
  color: black;
  font-family: sans-serif;
}